@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background-image: linear-gradient(45deg, #153b6a,#1a5981,#31829d,#8abac8,#c5e9e8 );
    background-repeat: repeat-x;
    background-size: 100% 100%;
    animation: gradient 10s linear infinite;
      
    font-family: 'Montserrat', sans-serif;
    height: 700px;
}
h1{
    color: #28345e;  
}
#titulo{
    text-align: center;
    margin-top: 30px;
    text-shadow: #8abac8;
}
#contenedor{
    
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
}
#calcular{
    background-color: #fffaf2;
    width: 60%;
    height: 400px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    top: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #1d6187;

}
#detalle{
    background: #6dde65;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 80% ;
    height: 200px;
    margin-top: 18px;
    margin-left: 10%;
    margin-right: 10%;
    float: center;
    color:#467080;
    border-radius: 30px;
    font-size: 18px;
    
}
.contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
input {
	width: 500PX;
    padding: 12px 15px;
    border: #9d9f56;
    background-color: #b9dbbe;
    margin-top: 10px;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
  font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
    border-right: 400px;
	background-color: #b66572;
	border: 1px solid #b66572;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.98);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}
#flu{
    color: #0a81d1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
#man{
color: #0a81d1;
font-weight: bold;
font-size: 25px;
margin-bottom: 5px;
display: none;
}